<br>
<br>
<h2 class="formacion-title">tipos de documento - EDITAR</h2>
<br>
<br>

<div class="container">
    <p-table [value]="documentos" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,15]">
        <ng-template pTemplate="header">
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-documento>
            <tr>
                <td>{{ documento.name }}</td>
                <td>
                    <button pButton icon="pi pi-pencil" class="edit-button p-button-primary"
                        label="Editar" (click)="mostrarDialogoEdicion(documento)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="mostrarDialogo" [modal]="true" [responsive]="true" [header]="tituloDialogo" [baseZIndex]="10000"
    (onHide)="cerrarDialogoEdicion()" [style]="{ 'width': '400px' }" [styleClass]="'custom-dialog'">
    <ng-template pTemplate="content">
        <form class="form" name="editarNivelForm" (ngSubmit)="editarDocumento()" #editarNivelForm="ngForm">
            <div class="p-field">
                <b><label for="nombre">Nombre:</label></b>
                <span class="p-float-label">
                    <input pInputText type="text" id="nombre" name="nombre" [(ngModel)]="documentoEdicion.name"
                        required>
                </span>
            </div>

            <div class="p-dialog-footer button-container">
                <button pButton type="submit" [disabled]="!editarNivelForm.form.valid" icon="pi pi-check" label="Editar"
                    class="p-button-lg p-button-success"></button>
            </div>

        </form>
    </ng-template>
</p-dialog>





<p-toast [style]="{ top: '80px' }"></p-toast>