.formacion-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #fa6357;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .nivel-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .nivel-table th,
  .nivel-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  .p-button-rounded {
    border-radius: 20px !important;
  }
  
  .p-button-danger {
    background-color: #fff !important;
    border-color: #dc3545 !important;
    color: #dc3545 !important;
  }
  
  .p-button-danger:hover {
    background-color: #c82333 !important;
    border-color: #bd2130 !important;
    color: #fff !important;
  }
  
  .p-button-success {
    background-color: #28a745 !important;
    border-color: #28a745 !important;
    color: #fff !important;
  }
  
  .p-button-success:hover {
    background-color: #218838 !important;
    border-color: #1e7e34 !important;
  }
  
  .p-button-secondary {
    background-color: #6c757d !important;
    border-color: #6c757d !important;
    color: #fff !important;
  }
  
  .p-button-secondary:hover {
    background-color: #5a6268 !important;
    border-color: #545b62 !important;
  }
  