<form (ngSubmit)="onSubmit()" [formGroup]="form" novalidate>
  <p-dialog [(visible)]="displayMaximizable" [modal]="true"
    [style]="{'width': '77%','height':'75%','text-align': 'center','background':'#333333'}" [closable]="false"
    [closeOnEscape]="false" [resizable]="false" zindex="10000" [showHeader]="false">
    <div class="grid grid-nogutter surface-section text-800 ">
      <div class="col-12 sm:col-7 md:col-7 lg:col-7 xl:col-7 overflow-hidden">
        <img src="assets/revista_principal.jpeg" alt="Image" class="sm:ml-auto block sm:h-full sm:w-full "
          style="clip-path: polygon(0% 0%, 95% 0%, 85% 100%, 0% 100%) ">
      </div>
      <div class="col-12 sm:col-5 md:col-5 lg:col-5 xl:col-5 pl-3 pr-3  text-center 
      md:text-center  align-items-center ">
        <section class=" text-center ">
          <div fxLayout="row" class="titleCard" style="margin-left: -25px;">
            <p-avatar styleClass="" shape="circle" size="xlarge"> <img src="assets/logo_r.jpg"></p-avatar>
            <span class="block text-6xl font-bold mb-2" style="color:black">
              REVISTA
              <strong class="block" style="color:gray;font-size: 0.8rem;">
                Ciencia e ingenieria - Uniguajira
              </strong>
            </span>
          </div>
          <div [style]="{'margin-top':'-6px'}">
            <br>
            <div fxLayout="row" class="titleCard">
              <i class="pi pi-shield" style="font-size: 2rem;margin-right: 10px;margin-top: -10px;"></i>
              <h2 class="fondebabutton" style="margin-top: -12px;">Registro de Usuario</h2>
            </div>
            <br>
            <div class="grid">
              <div class="col-12 sm:col-6" style="width: 100%;">
                <div class="p-grid p-fluid">
                  <div class="p-col-12 p-md-6">
                    <div class="form-field">
                      <span class="pi pi-id-card"></span>
                      <input type="text" pInputText formControlName="first_name" placeholder="Nombres" required
                        title="Nombres">
                    </div>
                  </div>
                </div>
                <div class="p-grid p-fluid">
                  <div class="p-col-12 p-md-6">
                    <div class="form-field">
                      <span class="pi pi-id-card"></span>
                      <input type="text" pInputText formControlName="last_name" placeholder="Apellidos" required
                        title="Apellidos">
                    </div>
                  </div>
                </div>
                <div class="p-grid p-fluid">
                  <div class="p-col-12 p-md-6">
                    <div class="form-field">
                      <span class="pi pi-envelope"></span>
                      <input type="email" class="p-inputtext" name="email1" formControlName="email1"
                        placeholder="Correo Electrónico" required title="Correo Electrónico">
                    </div>
                  </div>
                </div>
                <div class="grid">
                  <div class="col-12 sm:col-6">
                    <div class="p-grid p-fluid">
                      <div class="p-col-12 p-md-6">
                        <div class="form-field">
                          <span class="pi pi-key"></span>
                          <input type="password" pInputText formControlName="password" placeholder="Contraseña"
                            title="Contraseña" minlength="8" maxlength="50">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 sm:col-6">
                    <div class="p-grid p-fluid">
                      <div class="p-col-12 p-md-6">
                        <div class="form-field">
                          <span class="pi pi-key"></span>
                          <input type="password" pInputText formControlName="password2"
                            placeholder="Confirmación de Contraseña" title="Confirmación Contraseña" minlength="8"
                            maxlength="50">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ng-template [ngIf]="bandera == false">
            <br>
            <div fxLayout="row" class="titleCard ">
              <button pButton pRipple type="submit" icon="pi pi-check" label="Enviar" [disabled]="!form.valid"
                class=" mr-2 p-button-success "></button>
              <button pButton pRipple type="button" routerLink="/login" icon="pi pi-sync" styleClass="p-button-text"
                label="Login" class="p-button-outlined "></button>
            </div>
          </ng-template>
          <ng-template [ngIf]="bandera == true">
            <br>
            <br>
            <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
          </ng-template>
        </section>
      </div>
    </div>
  </p-dialog>
</form>
<img width="100%" height="45%" src="assets/Revista_c.jpeg">
<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>