<p-dialog [(visible)]="mantenimiento" [modal]="true"
  [style]="{'width': '98vw','text-align': 'center','background':'#333333'}" contentStyleClass="overflow-y-hidden"
  [closable]="false" [closeOnEscape]="false" [resizable]="false" zindex="10000" [showHeader]="false">
  <section id="sect1" class="sect">
    <video src="{{video}}" autoplay="true" muted="true" loop="true" min-width="100px"
      style="transform: translate(calc((100% - 190vw) / 2));" poster="{{video}}"></video>
  </section>
  <img src="{{construccion}}" alt="" srcset="" width="70%" height="70%">
</p-dialog>