.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#form{
    width: 500px;
    border: 1px solid rgba(128, 128, 128, 0.555);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#form input,button, p-dropdown, textarea{
    margin-top: 10px;
    width: 100%;
}