<div class="document-list">
    <h2 class="formacion-title">Tipos de Documentos</h2>
  
    <div class="container">
      <p-table class="p-datatable" [value]="documents" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,15]">
        <ng-template pTemplate="header">
          <tr>
            <th>Nombre</th>
            <th>Fecha de creacion</th>
            <th>Estado</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-document>
          <tr>
            <td>{{ document.name }}</td>
            <td>{{ document.createdAt | date }}</td>
            <td>{{ document.status ? 'Activo' : 'Inactivo' }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  