<div class="main">
    <h1>Editar Categorias</h1>
    <p-table [value]="categorias" [tableStyle]="{'min-width': '60rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th style="width:20%">Indice</th>
                <th style="width:20%">ID</th>
                <th style="width:20%">Nombre</th>
                <th style="width:20%">Seccion</th>
                <th style="width:20%">Editar</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-categoria let-rowIndex="rowIndex">
            <tr>
                <td>{{ rowIndex }}</td>
                <td>{{ categoria.id}}</td>
                <td>{{ categoria.name}}</td>
                <td>{{ categoria.seccionId}}</td>
                <td> <button (click)="showEditar(categoria.id)"  pButton pRipple type="button" icon="pi pi-pencil"
                    class="p-button-rounded p-button-warning mx-3"></button></td>

            </tr>
        </ng-template>
    </p-table>
</div>


<p-dialog header="Editar categoria" [(visible)]="display" [modal]="true" [style]="{width: '600px', height: '500px'}"
    [draggable]="false" [resizable]="false">

    <div class="grid dialog-form-crear col-12 md:col-12 lg:col-12">
        <form (submit)="submit()" [formGroup]="form">
                <input type="text" placeholder="Nombre" pInputText formControlName="name" />
                <button pButton pRipple type="submit" label="Editar seccion" class="p-button-warning" [disabled]="!form.valid" ></button>
        </form>
    </div>


</p-dialog>

<p-toast></p-toast>