<form (ngSubmit)="onSubmit()" [formGroup]="form" novalidate>
  <p-dialog [(visible)]="displayMaximizable" [modal]="true"
    [style]="{'width': '77%','max-height':'80%','text-align': 'center','background':'#333333'}"
    contentStyleClass="overflow-y-hidden" [closable]="false" [closeOnEscape]="false" [resizable]="false" zindex="10000"
    [showHeader]="false">
    <div class="grid grid-nogutter surface-section text-800">
      <div class="col-12 sm:col-6 md:col-6 lg:col-4 xl:col-4 pl-3 pr-3 pb-6 text-center md:text-center align-items-center">
        <section class="mr-1 md:mt-4 md:mb-3">
          <span class="block text-6xl font-bold mb-3" style="color:black">Revista
            <strong class="block" style="color:gray;font-size: 0.8rem;">
              Ciencia e ingenieria - Uniguajira
            </strong>
          </span>
          <p-avatar styleClass="mr-2 " shape="circle" size="xlarge"><img src="assets/logo_r.jpg"></p-avatar>
          <div style="margin-top:-1px">
            <div fxLayout="row" class="titleCard">
              <i class="pi pi-shield" style="font-size: 2rem;margin-right: 10px;"></i>
              <h2 class="fondebabutton" style="margin-top: -1px;">Inicio de sesión</h2>
            </div>
            <div class="p-grid p-fluid">
              <div class="p-col-12 p-md-6">
                <div class="form-field">
                  <span class="pi pi-user"></span>
                  <input type="text" pInputText formControlName="username" placeholder="Nombre de usuario">
                </div>
              </div>
              <div class="p-col-12 p-md-6">
                <div class="form-field">
                  <span class="pi pi-key"></span>
                  <input type="password" pInputText formControlName="password" placeholder="Contraseña">
                </div>
              </div>
            </div>
          </div>
          <ng-template [ngIf]="motrar == false">
            <div fxLayout="row" class="titleCard">
              <button pButton pRipple type="submit" icon="pi pi-check" label="Entrar" [disabled]="!form.valid" style="width:auto" styleClass="mr-2" class="mr-3 p-button-raised mt-3"></button>
              <button pButton pRipple type="button" routerLink="/register" icon="pi pi-users" styleClass="p-button-text" style="width:auto" label="Registrarse" class="p-button-outlined mt-3"></button>
            </div>
          </ng-template>
          <ng-template [ngIf]="motrar == true">
            <br><br>
            <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
          </ng-template>
        </section>
      </div>
      <div class="col-12 sm:col-6 md:col-6 lg:col-8 xl:col-8 overflow-hidden image-container">
        <img src="assets/revista_principal.jpeg" alt="Image" class="md:ml-auto block revista-img">
      </div>
    </div>
    
  </p-dialog>
</form>
<img width="100%" height="45%" src="assets/Revista_c.jpeg">
<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>
