

.margSup {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  padding-right: 10%;
  padding-top: 10px;

}

.imgLogo {
  width: auto;
  border: 1px solid transparent;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.titleCard {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 45px;
  font-weight: bold;
  /* color:rgba(51,102,0,1); */
  margin-top: 10px;
}

.imgLogo2 {
  width: 60%;
  /* min-height: 250px; */
  /* margin-left: 30px; */
  /* max-width: 500px; */
  /* max-height:700px; */
  border: 1px solid transparent;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.titleCard2 {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 45px;
  font-weight: bold;
  /* color:rgba(51,102,0,1); */
  margin-top: 10px;
}

.margen {
  /* padding: 10px; */
  margin-top: -5px;
  margin-bottom: -15px;
  background-color: #dcdcdc;
  min-height: auto;
}

.content {
  background: #f5f5f5;
  /* border-radius: 13px; */
  padding: 30px;
  box-shadow: 7px 8px 19px 0px #00000047;
}

.content2 {
  /* width: 100%; */
  height: 80%;
  margin-top: -5px;
  background: transparent;
  /* border-radius: 13px; */
  padding: 20px;
  box-shadow: 7px 8px 19px 0px #00000047;
  /* background-image: url('../assets/images/fondo2.jpg'); */
  /* background: linear-gradient(0deg, rgba(51,102,0,1) 0%, rgba(34,193,195,0.5578606442577031) 100%); */
  background-size: cover;
}

.mat-toolbar-single-row {
  justify-content: space-between;
}

.menuimagen {
  margin-top: 10px;
  /* display: flex; */
}


.mat-toolbar-single-row {
  display: flex;
  /* padding-top:10px; */
  height: 70px;
  margin-bottom: 0
}

/* .mat-drawer-content {
  position: relative;
  z-index: 1;
  display: block;
  height: 100%;
  overflow: auto;
} */


/* Assign grid instructions to our parent grid container */
.grid-container {
  display: grid;
  grid-template-columns: 250px 3fr;
  grid-template-rows: 40px 3fr 80px;
  grid-template-areas:
    "sidenav subtitle"
    "sidenav main"
    "sidenav footer";
  height: 100%;
  width: 100vmax;
}

/* Give every child element its grid name */
.sidenav {
  grid-area: sidenav;
  overflow: auto;
  -ms-overflow-style: none;
  /* IE 11 */
  scrollbar-width: none;
  /* Firefox 64 */
  box-shadow: 3px 0 5px rgba(57, 63, 72, 0.3);
  ;
}

.sidenav::-webkit-scrollbar {
  display: none;
}

.subtitle {
  grid-area: subtitle;
  margin-top: 20px;
}

.main {
  grid-area: main;
  margin: 5px;
  /* margin-top: -px; */
}

.footer {
  grid-area: footer;
  display: flex;
  align-content: center;
  justify-content: space-around;
  margin: 3px 0 0 2px;
  /* border: grayscale($color:  cadetblue) medium solid; */
  /* background-color: rgb(179, 170, 170); */
  /* background-color: rgb(243, 164, 85) */
  /* background-color: #F1A157; */
}

.centered-content {
  width: 100%;
  max-width: 1000px;
  padding: 0 40px;

}

.hijo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /*  height: 30px; */
  font-size: 14px;
  color: #6b778c;
}

.hijo1 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: -60px;
  height: 30px;
  font-size: 14px;
  color: #6b778c;
}


.footer__copyright {
  line-height: 10px;
  margin: 5px;
}

.clickable {
  cursor: pointer;
}

.padre:hover {
  border-left: 5px solid #F16257;
  text-decoration-color: #F16257;
  color: #F16257
    /* background-color: #F16257; */
}

.buttons-container {
  color: #707070;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  padding: 0 5px;
  text-decoration: none;
  margin-top: -15px;
  margin-right: 10px;
}

.buttons-container:hover {
  background-color: #c9c9c9f3;
  color: black
}

.buttons-container .mat-icon {
  padding-top: 10px;
}

a {
  color: #707070;
  text-decoration: none;
  /* align-items: center; */
}

a .text {
  font-weight: 500;
  font-size: 16px;
  margin-left: 5px;
  padding-top: 7px;

}

.padre-container {
  color: #707070;
  /* font-weight: 500; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  padding: 0 10px;
  text-decoration: none;
}

li {
  line-height: 24px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.nav {
  margin-left: 0;
  margin-bottom: 24px;
  list-style: none;
}

#redes_sociales li a {
  color: #fff;
  font-size: 0px;
  padding: 0;
  margin: 0;
}

#redes_sociales li {
  margin: 8px 40px;
  padding: 0;
}

#redes_sociales {
  width: 100%;
  margin: 0;
  margin-top: -5px;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  -moz-justify-content: center;
}

.nav>li>a {
  display: block;
}

/* .titleCard{
  margin: 0px;
  display:flex;
  justify-content:center;
  align-content: center;
  text-align: center;
} */
.fondebabutton {
  color: #707070;
}

.clock {
  display: flex;
  /* grid-gap: 1px 5px;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center; */
  /* width: 100%; */
}

.clock p {
  color: #FBC02D;
  font-size: 2rem;
}

.hours {
  grid-column-start: 1;
  grid-column-end: 3;
  color: #FBC02D;

}

.horas {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: baseline;
}

/* span {
  color: #777777;
} */

.mishoras {
  margin-left: 3px;
  font-weight: bold;
  font-size: 1rem;
}

.ampm {
  margin-left: 3px;
  margin-right: 3px;
  font-size: 1rem;
  /* font-weight: 20; */
}

.segundos {
  width: 100%;
  text-align: right;
  font-size: 0.8rem;
  font-size: 100;
}


.titleCard1 {
  margin: 0 0 10px 0;
  display: flex;
  justify-content: center;
  align-content: center;
}

mat-card-title {
  padding-left: 10px;
  padding-top: 10px;
}

.categ-section {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
  height: 80px;
}

.categ-margin {
  margin: 0;
}

.opcStatus {
  margin: 0 40px;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  background-color: #f5f5f5;
}


.banner>div {
  text-align: center;
  padding: 0 20px;
}

.titulo {
  margin-top: 20px;
}

.titulo h1 {
  font-size: 36px;
  color: #333;
  font-weight: bold;
}

.banner p {
  font-size: 18px;
  margin: 20px 0;
}

.banner img {
  max-width: 100%;
  height: auto;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffcc00;
  color: #333;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #ffdb4d;
}
.features-section {
  padding: 50px 0;
  text-align: center;
  background-color: #f5f5f5;
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.feature {
  margin: 20px 0;
}

.feature img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

.feature h3 {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.feature p {
  font-size: 16px;
}

/* Responsive Styles */
@media (min-width: 768px) {
  .feature-item {
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
  }

  .feature {
    flex: 1;
    margin: 0 20px;
  }

  .feature:nth-child(2) {
    text-align: center;
  }
}
/* Sección de ediciones */
.editions-section {
  padding: 50px 0;
  text-align: center;
}

.edition {
  display: inline-block;
  margin: 0 20px;
}

.edition img {
  width: 200px;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.edition p {
  margin-top: 10px;
}

/* Sección de llamado a la acción */
.cta-section {
  padding: 50px 0;
  text-align: center;
}

.cta-section h2 {
  margin-bottom: 20px;
}

.cta-button-big {
  display: inline-block;
  padding: 15px 30px;
  background-color: #ffcc00;
  color: #333;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.cta-button-big:hover {
  background-color: #ffdb4d;
}

/* Pie de página */
.footer {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: #fff;
}

.social-media a {
  margin: 0 10px;
}

.social-media img {
  width: 30px;
  height: 30px;
}

.revistas {

  align-items: center;
  vertical-align: center;
}

/* styles.css */
.hover-effect {
  transition: transform 0.3s ease-in-out;
  /* Agrega una transición suave */
}

.hover-effect:hover {
  transform: scale(1.5);
  /* Aumenta el tamaño de la imagen en un 10% */
}

.container-articulo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Ajusta la altura según sea necesario */
}

.side-div {
  background-color: #F16257;
  flex: 1; /* Esto hace que los divs laterales ocupen el mismo espacio */
  height: 50%;
}

.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px; /* Ajusta el padding según sea necesario */
  height: 60%;
}

